<h2>🤖 DeepOctoPrint Data Collector 🤖</h2>

<form class="form-horizontal" onsubmit="return false;" style="margin: 20px; background-color: lightblue; padding: 20px; border-radius: 12px;">
  <div>
    <label for="enabled">
      <input class="input-checkbox" type="checkbox" id="enable" data-bind="checked: settingsViewModel.settings.plugins.deepoctoprint_data_collector.enabled">
      Yes I really want to enable the plugin!
    </label>
  </div>
</form>
